@page
@model TS.WebApp.Pages.Cars.IndexModel
@addTagHelper`*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<h3 class="center-align indigo-text text-darken-2">Cars</h3>

<br />

<div>
    <a asp-page="../Customers/Index"
       class="btn-floating btn waves-effect waves-light white-text blue darken-2 left-align">
        <i class="material-icons">arrow_back</i>
    </a>
    <a asp-page="../Customers/Index"
       class="btn-floating waves-effect waves-light white-text blue darken-2 right-align">
        <i class="material-icons">add</i>
    </a>
</div>

<br />

<form method="post">
    <table class="responsive-table striped">
        <thead>
            <tr class="light white-text card-panel indigo darken-2 card-content">
                <th class="center-align">Brand</th>
                <th class="center-align">Model</th>
                <th class="center-align">Year</th>
                <th class="center-align">Name</th>
                <th class="center-align">Last Name</th>
                <th class="center-align">Edit</th>
                <th class="center-align">Delete</th>
                <th class="center-align">Quote</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cars)
            {
            <tr>
                <td>@item.Brand</td>
                <td>@item.Model</td>
                <td>@item.Year</td>

                <!--Falta cargar información del cliente-->

                <td>
                    <a asp-route-id="@item.Id"
                       asp-page="Edit"
                       class="btn-floating btn waves-effect waves-light white-text blue darken-2 ">
                        <i class="material-icons">edit</i>
                    </a>
                </td>

                <td>
                    <button type="submit"
                            asp-page-handler="delete"
                            asp-route-id="@item.Id"
                            class="btn-floating btn waves-effect waves-light white-text blue darken-2">
                        <i class="material-icons">delete_forever</i>
                        >
                    </button>
                </td>


                    <td>
                        <a asp-route-carid="@item.Id"
                           asp-page="../Insurances/Add"
                           class="waves-effect pulse waves-light btn white-text blue darken-2">
                            Confirm quote
                        </a>
                    </td>

            </tr>
            }
        </tbody>
    </table>
</form>