@page
@model TS.WebApp.Pages.Customers.IndexModel
@addTagHelper`*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<h3 class="center-align indigo-text text-darken-2">Customers</h3>

<br />

<div>
    <a asp-page="../Index"
       class="btn-floating btn waves-effect waves-light white-text blue darken-2 left-align">
        <i class="material-icons">arrow_back</i>
    </a>

    <a asp-page="Add"
       class="btn-floating waves-effect waves-light white-text blue darken-2 right-align">
        <i class="material-icons">add</i>
    </a>
</div>

<br />

<form method="post">
    <table class="responsive-table striped">
        <thead>
            <tr class="light white-text card-panel indigo darken-2 card-content">
                <th class="center-align">Name</th>
                <th class="center-align">LastName</th>
                <th class="center-align">DocumentType</th>
                <th class="center-align">Nit</th>
                <th class="center-align">BirthDay</th>
                <th class="center-align">City</th>
                <th class="center-align">Edit</th>
                <th class="center-align">Delete</th>
                <th class="center-align">Create Car</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td class="center-align">@item.Name</td>
                    <td class="center-align">@item.LastName</td>
                    <td class="center-align">@item.DocumentType</td>
                    <td class="center-align">@item.Nit</td>
                    <td class="center-align">@item.BirthDay.ToString("dd/MM/yyyy")</td>
                    <td class="center-align">@item.City</td>

                    <td>
                        <a asp-route-id="@item.Id"
                           asp-page="Edit"
                           class="btn-floating btn waves-effect waves-light white-text blue darken-2">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>

                    <td>
                        <button type="submit"
                                asp-page-handler="delete"
                                asp-route-id="@item.Id"
                                class="btn-floating btn waves-effect waves-light white-text blue darken-2">
                            <i class="material-icons">delete_forever</i>
                            >
                        </button>
                    </td>

                    <td>
                        <a asp-route-customerid="@item.Id"
                           asp-page="../Cars/Add"
                           class="btn-floating pulse btn waves-effect waves-light white-text blue darken-2">
                            <i class="material-icons">drive_eta</i>
                        </a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
</form>
