@page
@model TS.WebApp.Pages.Customers.IndexModel
@addTagHelper`*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<h2 class="center-align card-panel teal lighten-2">CUSTOMERS</h2>

<div class="center-align">
    <a asp-page="Add" class="waves-effect waves-light btn white-text blue darken-1">Create new Customer</a>

    <a asp-page="../Index" class="waves-effect waves-light btn white-text blue darken-1">Return to begin</a>
</div>
<br />
<form method="post">
    <table class="responsive-table white-text deep-purple darken-1">
        <thead>
            <tr>
                <th>Name</th>
                <th>LastName</th>
                <th>DocumentType</th>
                <th>Nit</th>
                <th>BirthDay</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.LastName</td>
                <td>@item.DocumentType</td>
                <td>@item.Nit</td>
                <td>@item.BirthDay</td>
                <td>@item.City</td>

                <!--Queda faltando la parte donde se carga la información del
    carro cuando ya este costruida esa etapa-->

                <td>
                    <a class="waves-effect waves-light btn white-text blue darken-1"
                       asp-route-id="@item.Id"
                       asp-page="Edit">
                        Edit
                    </a>

                </td>
                <td>
                    <button type="submit"
                            class="waves-effect waves-light btn white-text blue darken-1"
                            asp-page-handler="delete"
                            asp-route-id="@item.Id">
                        Delete
                    </button>
                </td>
                <td>
                    <a class="waves-effect waves-light btn white-text blue darken-1"
                       asp-route-customerid="@item.Id"
                       asp-page="../Cars/Add">
                        CREATE CAR
                    </a>
                </td>

                
            </tr>
            }
        </tbody>
    </table>
</form>
