@page
@model TS.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3 class="center-align indigo-text text-darken-2">Sales</h3>

<br />

<div class="container">
    <a asp-page="./Customers/Add"
       class="btn-floating pulse btn waves-effect waves-light white-text blue darken-2">
        <i class="material-icons">add</i>
    </a>
</div>

<br />

<form method="post">
    <table class="responsive-table striped container">
        <thead>

            <tr class="light white-text indigo darken-2">
                <th class="center-align">Name</th>
                <th class="center-align">Last Name</th>
                <th class="center-align">Document</th>
                <th class="center-align">Number</th>
                <th class="center-align">Birth Day</th>
                <th class="center-align">City</th>
                <th class="center-align">Car Data</th>
                <th class="center-align">Quote</th>
                <th class="center-align"></th>
                <th class="center-align"></th>
                <th class="center-align"></th>

            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
            <tr>
                <td class="blue-text text-darken-4 center-align">@item.Name</td>
                <td class="blue-text text-darken-4 center-align">@item.LastName</td>
                <td class="blue-text text-darken-4 center-align">@item.DocumentType</td>
                <td class="blue-text text-darken-4 center-align">@item.Nit</td>
                <td class="blue-text text-darken-4 center-align">@item.BirthDay.ToString("dd/MM/yyyy")</td>
                <td class="blue-text text-darken-4 center-align">@item.City</td>


                    <td class="blue-text text-darken-4 center-align">
                        @foreach (var car in item.Cars)
                        {
                            <ul>@car.Brand @car.Model</ul>
                        }
                    </td>


                    <td class="blue-text text-darken-4 center-align">
                        @foreach (var insurance in item.Insurances)
                        {
                            <ul>@insurance.Price</ul>
                        }
                    </td>


                    <td>
                        <a asp-page="./Customers/Index"
                           class="btn-floating btn waves-effect waves-light white-text blue darken-2 ">
                            <i class="material-icons">account_circle</i></a>
                    </td>

                    <td>
                        <a asp-page="./Cars/Index"
                           class="btn-floating btn waves-effect waves-light white-text blue darken-2">
                            <i class="material-icons">drive_eta</i>
                        </a>
                    </td>

                    <td>
                        <a asp-page="./Cars/Index"
                           class="btn-floating pulse btn waves-effect waves-light white-text blue darken-2">
                            <i class="material-icons">payment</i>
                        </a>
                    </td>

            </tr>
            }
        </tbody>
    </table>
</form>

