@page
@model TS.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />

<h3 class="card-panel deep-purple darken-2 white-text center-align">Sales</h3>

<br />

<div class="left-align">
    <a asp-page="./Customers/Add"
       class="btn-floating pulse btn waves-effect waves-light white-text blue darken-2">
        <i class="material-icons">add</i>
    </a>
</div>

<br />

<form method="post">
    <table class="responsive-table striped container">
        <thead>
            
            <tr class="light white-text indigo darken-2 card-content">
                <th class="center-align">Name</th>
                <th class="center-align">Last Name</th>
                <th class="center-align">Document</th>
                <th class="center-align">Number</th>
                <th class="center-align">Birth Day</th>
                <th class="center-align">City</th>
                <th class="center-align">Brand</th>
                <th class="center-align">Model</th>
                <th class="center-align">Year</th>
                <th class="center-align">Quotation</th>
                <th class="center-align">Customer options</th>
                <th class="center-align">Car options</th>
                <th class="center-align">Quote</th>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model.Customers)
            {
            <tr class="center-align">
                <td class="center-align">@item.Name</td>
                <td class="center-align">@item.LastName</td>
                <td class="center-align">@item.DocumentType</td>
                <td class="center-align">@item.Nit</td>
                <td class="center-align">@item.BirthDay.ToString("dd/MM/yyyy")</td>
                <td class="center-align">@item.City</td>

                <td class="center-align">
                    @foreach (var car in item.Cars)
                    {
                        <ul>@car.Brand</ul>
                    }
                </td>

                <td class="center-align">
                    @foreach (var car in item.Cars)
                    {
                        <ul>@car.Model</ul>
                    }
                </td>

                <td class="center-align">
                    @foreach (var car in item.Cars)
                    {
                        <ul>@car.Year</ul>
                    }
                </td>

                <td class="center-align">
                    @foreach (var insurance in item.Insurances)
                    {
                        <ul>@insurance.Price</ul>
                    }
                </td>

                <td class="right-align">
                    <a asp-page="./Customers/Index"
                       class="btn-floating btn waves-effect waves-light white-text blue darken-2 ">
                        <i class="material-icons">account_circle</i>
                    </a>
                </td>

                @if (item.Cars.Count >= 1)
                {
                    <td class="right-align">
                        <a asp-page="./Cars/Index"
                           class="btn-floating btn waves-effect waves-light white-text blue darken-2">
                            <i class="material-icons">drive_eta</i>
                        </a>
                    </td>
                }


                @if (item.Cars.Count >= 1)
                {
                    <td class="right-align">
                        <a asp-page="./Cars/Index"
                           class="btn-floating pulse btn waves-effect waves-light white-text blue darken-2">
                            <i class="material-icons">payment</i>
                        </a>
                    </td>
                }


            </tr>
            }
        </tbody>
    </table>
</form>

